@page
@model counterRazor.CounterModel
@{
    ViewData["Title"] = "Counter";
}

<h1>Counter</h1>

<form method="post">

    <input type ="text" id="number" name="number" value="@Model.Number"/>
    
    <button class="btn btn-dark" >Click Me</button>

</form>

